* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.welcome{
    text-align: center;
    padding: 100px;
}

.gd{
  text-align: center;  
  display: block;  
  margin-left: auto;  
  margin-right: auto;   
  padding: 5px;  
  bottom: 5000px;
 
}

.message{
  text-align: center;
  font-style: italic;
}
