
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

div {
    color: black;
    background-color: gainsboro;
    font-weight: bold;
    padding: 75px;
    text-align: center;
    border-radius: 10px;
  }
 
  .button{
    background-color: blue;
    color: white;
    }
  
    .button2 {
      width: 11%;
    }